.ShipDetail {
  &-breadCrumbsWrapper {
    border-bottom: 1px solid var(--gray-200, #eaecf0);
  }

  &-breadCrumbs {
    padding: 16px 32px;
  }

  &-navigation {
    display: flex;
    gap: 32px;
    padding: 80px 32px;

    & .ShipDetail-mapLink {
      color: var(--primary-base, #77dada);
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      -webkit-text-decoration-line: underline;
      text-decoration-line: underline;
    }
  }

  &-carousel {
    padding: 0 24px;
  }

  &-shipDetail {
    padding: 80px 32px;

    & .ShipDetail-tabs {
      position: sticky;
      top: 96px;
      z-index: 10;
    }
  }

  &-features {
    & .ShipDetail-overview {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 32px;
      grid-row-gap: 24px;
    }
  }

  &-sidebar {
    min-width: 384px;
    max-width: 25vw;

    &-mb {
      display: none;
      min-width: 0;
      width: 100%;
      padding: 24px;
    }
  }

  &-infoHeader {
    padding: 20px 24px;
    border-bottom: 1px solid var(--gray-200, #eaecf0);
  }

  &-infoContent {
    padding: 20px 24px;

    &-label {
      width: 120px;
      min-width: 120px;
      color: var(--gray-600, #475467);
    }

    & svg {
      width: 20px;
      min-width: 20px;
      height: 20px;
    }

    & label {
      color: var(--gray-900);
    }
  }

  &-roomTypes {
    border-radius: 24px;
    background-color: #f2f4f7;
    padding: 32px;

    &-price-label {
      color: var(--gray-700);
    }

    &-price {
      color: var(--primary-dark, #0e4f4f);
    }
  }

  &-output {
    font-size: 16px;
    line-height: 24px;
  }

  &-booking-detail-modal {
    width: 800px;
    display: flex;
    padding: 24px;
    flex-direction: column;
    gap: 24px;
    flex: 1 0;
  }

  &-divider {
    border-bottom: 1px solid var(--gray-200, #eaecf0);
  }

  &-groupInput {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;
    gap: 24px;
    justify-content: flex-start;
  }
}

.Alert {
  position: relative;
  display: flex;
  padding: 16px;
  align-items: flex-start;
  gap: 12px;
  border-radius: 8px;

  &-gray {
    border: 1px solid var(--gray-300, #d0d5dd);
    background: var(--gray-100, #f2f4f7);
    color: var(--gray-700, #344054);
    fill: var(--gray-100);
    stroke: var(--gray-600);
  }

  &-clostBtn {
    position: absolute;
    right: 8px;
    top: 8px;
    padding: 8px;
    cursor: pointer;
  }

  & &-content {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }
}

@keyframes anvil {
  0% {
    transform: scale(1) translateY(0);
    opacity: 0;
    box-shadow: 0 0 0 hsla(0, 0%, 95%, 0);
  }

  1% {
    transform: scale(0.96) translateY(10px);
    opacity: 0;
    box-shadow: 0 0 0 hsla(0, 0%, 95%, 0);
  }
  100% {
    transform: scale(1) translateY(0);
    opacity: 1;
    box-shadow: 0 0 500px hsla(0, 0%, 95%, 0);
  }
}

.Modal-closeBtn {
  position: absolute;
  right: 24px;
  top: 24px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.Popup {
  &-overlay {
    background: rgba(0, 0, 0, 0.5);
    overflow-y: auto;
  }

  &-content {
    margin: auto;
    background: #fff;
    width: 50%;
    padding: 5px;
    border: 1px solid #d7d7d7;
  }

  &-content {
    width: -moz-fit-content !important;
    width: fit-content !important;
    border: none !important;
    border-radius: 24px;
    border: 1px solid var(--gray-200, #eaecf0);
    background: var(--base-white, #fff) !important;
    box-shadow: var(--shadow-sm);
    padding: 0;
    animation: anvil 0.3s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
    -webkit-animation: anvil 0.3s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
  }
}

.RoomPicker {
  &-roomPicker {
    position: relative;

    &-dropdown {
      padding-top: 10px;
      position: absolute;
      inset: 0 auto auto 0;
      transform: translate3d(0, 70px, 0);
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      align-self: stretch;
      border-radius: 8px;
      border: 1px solid var(--gray-100, #f2f4f7);
      background: var(--base-white, #fff);
      box-shadow: 0 8px 8px -4px rgba(16, 24, 40, 0.03),
        0 20px 24px -4px rgba(16, 24, 40, 0.08);
      z-index: 1;
    }
  }

  &-content {
    padding: 20px 24px;
  }

  &-item {
    color: var(--gray-900, #101828);
    width: 280px;
    padding-bottom: 16px;
    border-bottom: 1px solid var(--gray-100, #f2f4f7);

    & &-value {
      color: var(--primary-dark, #0e4f4f);
    }

    & .RoomPicker-groupBtn {
      display: flex;
      border-radius: 100px;
      border: 1px solid var(--gray-200, #eaecf0);
    }

    & .RoomPicker-minus {
      border-right: 1px solid var(--gray-200, #eaecf0);
    }

    & &-btn {
      width: 28px;
      height: 28px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
  }

  &-actions {
    width: 100%;
    padding: 16px;
    border-top: 1px solid var(--gray-200, #eaecf0);

    & &-btn {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

@media (max-width: 1200px) {
  .ShipDetail {
    &-shipDetail {
      padding: 24px;
      gap: 24px;
    }

    &-navigation {
      flex-direction: column;
      padding: 24px;

      & .ShipDetail-badgeList {
        flex-direction: column;
      }

      & > h4 {
        font-size: 24px;
      }
    }

    &-sidebar {
      display: none;

      &-mb {
        display: block;
      }
    }

    &-features {
      & .ShipDetail-overview {
        grid-template-columns: auto;
      }
    }

    &-roomTypes {
      padding: 16px;
      gap: 16px;
    }

    &-roomsFooter {
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
    }

    &-booking-detail-modal {
      width: 100%;

      &-footer {
        flex-direction: column;
        gap: 24px;
      }
    }

    &-groupInput {
      grid-template-columns: 100%;
    }
  }

  .Popup {
    &-content {

    }
  }
}
