/* Banner */
.Home-banner {
  width: 100%;
  max-width: 1280px;
  margin: auto;
  background-image: url(/fe/src/assets/images/section-background.png);
  background-repeat: repeat;
}

.Home-header {
  padding: 80px 32px;
}

.Home-searchBox {
  width: 100%;
}

