.SectionHeader {
  display: flex;
  flex-grow: 1;
  gap: 16px;

  &-column {
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
  }

  &-title {
    display: flex;
    flex-direction: column;
    gap: 24px;
    flex: 1 0;
  }

  &-description {
    width: 488px;
    color: var(--gray-600, #475467);
    flex-shrink: 0;
  }
}

@media (max-width: 1024px) {
  .SectionHeader {
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    gap: 24px;

    & &-description {
      width: 100%;
      font-size: 16px;
    }

    & &-title h4 {
      font-size: 30px;
    }
  }
}
