.SearchPageDetail {
  &-searchPage {
    padding: 80px 32px !important;
  }

  &-searchBox {
    width: 100%;
  }

  &-header {
    display: flex;
    justify-content: space-between;
    gap: 80px;
    margin-bottom: 80px;

    & .SearchPageDetail-sortBtn {
      position: relative;
    }

    & .SearchPageDetail-filterBtn {
      display: none;
    }

    & .SearchPageDetail-dropdown {
      min-width: 200px;
      width: -moz-fit-content;
      width: fit-content;
      padding-top: 10px;
      position: absolute;
      inset: 0 0 auto auto;
      transform: translate3d(0, 70px, 0);
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      align-self: stretch;
      border-radius: 8px;
      border: 1px solid var(--gray-100, #f2f4f7);
      background: var(--base-white, #fff);
      box-shadow: 0 8px 8px -4px rgba(16, 24, 40, 0.03),
        0 20px 24px -4px rgba(16, 24, 40, 0.08);
      z-index: 1;
    }

    & .SearchPageDetail-dropdown-item {
      width: 100%;
      padding: 15px 30px;
      cursor: pointer;
    }

    & .SearchPageDetail-dropdown-item:hover {
      width: 100%;
      background: var(--gray-50, #f9fafb);
    }
  }

  &-apply-mb-btn {
    display: none;
  }

  &-sideBar {
    top: 120px;
    width: 280px;
    min-width: 280px;
    height: -moz-fit-content;
    height: fit-content;
    border-radius: 24px;
    border: 1px solid var(--gray-200, #eaecf0);
    background: var(--base-white, #fff);
    box-shadow: var(--shadow-sm);

    &-header {
      display: flex;
      padding: 20px 24px;
      align-items: center;
      gap: 16px;
      border-bottom: 1px solid var(--gray-200, #eaecf0);
    }

    & .SearchPageDetail-filter-item {
      display: flex;
      padding: 20px 24px;
      flex-direction: column;
      justify-content: center;
      gap: 16px;
    }
  }

  &-sideBar-mobile {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 100vh;
    border-radius: 0;
  }

  &-shipList {
    flex-grow: 1;
    margin-bottom: 20px;
  }

  &-collapse {
    border-radius: 16px;

    & &-header {
      display: flex;
      gap: 16px;
      padding: 16px;
      border: none;
    }
  }

  &-customHeader {
    border-bottom: none;
  }
}

.fresnel-lessThan-md {
  display: none;
}

@media (max-width: 1024px) {
  .SearchPageDetail {
    &-searchPage {
      padding: 24px !important;
      gap: 24px;
    }

    &-header {
      flex-direction: column;
      gap: 24px;
      margin-bottom: 24px;

      & .SearchPageDetail-filterBtn {
        display: block;
      }
    }

    &-collapse {
      & .SearchPageDetail-searchBox-mb {
        border: none;
        box-shadow: none;
        width: 100%;
        padding-top: 0;
      }
    }

    &-apply-mb-btn {
      display: block;
    }

    &-shipList {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  .fresnel-greaterThan-mdless {
    display: none;
  }
}
