.BreadCrumbs {
  &-breadCrumbsContainer,
  &-breadCrumbs {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &-breadCrumbs {
    & > svg {
      width: 16px;
      height: 16px;
      stroke: var(--gray-300);
    }
    img {
      width: 16px;
      height: 16px;
    }
  }

  &-breadCrumb {
    color: var(--gray-600);
    fill: #fff;
    stroke: var(--gray-600);
    cursor: pointer;
  }

  &-selected {
    color: var(--primary-dark, #0e4f4f);
    stroke: var(--primary-dark);
  }
}
